.btn-primary {
    background-color: #1877F2;
    border-color: #1877F2;
}

.page-item.active .page-link {
    background: #1877F2;
    border-color: #1877F2;
}

.badge-primary {
    background-color: #1877F2;
}

a {
    color: #1877F2;
}

.text-primary {
    color: #1877F2 !important;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: #1877F2;
}

/* code */
@media (max-width: 768px) {
    .mob-col-cls {
        flex: none;
        max-width: 100%;
    }

    div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
        padding-left: 0;
        margin: 10px 0 10px 0;
    }

    div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
        padding-right: 0;
    }
}

.padding-null {
    padding: 0;
}

.password-container {
    position: relative;
}

.displayPassword {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    margin: 0 auto;
    cursor: pointer;
}

.vendor-img-bk-btn {
    padding: 0px 0 15px 0;
}

.mar-lef-10 {
    margin-left: 10px;
}

#sidebar ul li .c-active.c-show {
    background: #1877F2;
}

.parent-menu-cls {
    font-weight: bolder;
    color: #2eb85c;
    padding-left: 20px;
}

.parent-menu-red-cls {
    font-weight: bolder;
    color: #1877F2;
    padding-left: 20px;
}

.mar-left-10-cls {
    margin-left: 10px;
}

.tags-group .select2-selection__rendered {
    padding: 5px 0 5px 0 !important;
}

.dropzone {
    min-height: auto !important;
}

/* code */

#sidebar-show-hide {
    background: no-repeat;
    border: none;
    outline: none;
}

.margin-top-1rem {
    margin-top: 1rem;
}

.switch-flex-cls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.posts-cls a {
    margin: 5px;
}

.generate-cities-cls {
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    width: 180px;
}

small {
    color: red;
}

.sort-menu-cls {
    width: 50px;
    height: 35px;
}