.btn-primary {
    background-color: #581845;
    border-color: #581845;
}

.page-item.active .page-link {
    background: #900c3f;
    border-color: #900c3f;
}

.badge-primary {
    background-color: #581845;
}

a {
    color: #581845;
}

.text-primary {
    color: #581845 !important;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: #581845;
}