.btn-primary {
    background-color: #F88379;
    border-color: #F88379;
}

.page-item.active .page-link {
    background: #F88379;
    border-color: #F88379;
}

.badge-primary {
    background-color: #F88379;
}

a {
    color: #F88379;
}

.text-primary {
    color: #F88379 !important;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: #F88379;
}

/* code */
@media (max-width: 768px) {
    .mob-col-cls {
        flex: none;
        max-width: 100%;
    }

    div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
        padding-left: 0;
        margin: 10px 0 10px 0;
    }

    div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
        padding-right: 0;
    }
}

.padding-null {
    padding: 0;
}

.password-container {
    position: relative;
}

.displayPassword {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    margin: 0 auto;
    cursor: pointer;
}

.vendor-img-bk-btn {
    padding: 0px 0 15px 0;
}

.mar-lef-10 {
    margin-left: 10px;
}

#sidebar ul li .c-active.c-show {
    background: #F88379;
}

.parent-menu-cls {
    font-weight: bolder;
    color: #2eb85c;
    padding-left: 20px;
}

.parent-menu-red-cls {
    font-weight: bolder;
    color: #F88379;
    padding-left: 20px;
}

.mar-left-10-cls {
    margin-left: 10px;
}

.tags-group .select2-selection__rendered {
    padding: 5px 0 5px 0 !important;
}

.dropzone {
    min-height: auto !important;
}

/* code */

#sidebar-show-hide {
    background: no-repeat;
    border: none;
    outline: none;
}

.margin-top-1rem {
    margin-top: 1rem;
}

.switch-flex-cls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.posts-cls a {
    margin: 5px;
}

.generate-cities-cls {
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    width: 180px;
}

small {
    color: red;
}

.sort-menu-cls {
    width: auto;
    height: 35px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    font-weight: 600;
    background-color: #F88379;
    border-color: #F88379 #F88379 #F88379;
}

.nav-tabs .nav-link {
    border: 1px solid;
    border-color: #d8dbe0 #d8dbe0 #c4c9d0;
    color: #000;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-tabs .nav-item {
    margin: 0px 10px 10px 0px;
}

.gallery-img-col {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-action-col,
.gallery-action-col:hover {
    background: #F88379;
    text-decoration: none;
}

.gallery-action-col a,
.gallery-action-col a:hover {
    color: white;
    display: block;
    width: 100%;
    padding: 5px 0;
    text-decoration: none !important;
}

#loadingImage {
    display: none;
    text-align: center;
}

#loadingImage img {
    width: 150px;
    position: fixed;
    margin: auto 0;
    right: 35%;
}

#pagetree {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
}

#pagetree li {
    list-style: none;
    padding: 5px 15px;
    margin: 0px;
    margin-bottom: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 0 !important;
    padding: 5px 0 !important;
}

#menutree li {
    border: 1px solid #ddd;
    border-radius: 0 !important;
    padding: 5px 0 !important;
}

#pagetree .page_item {
    clear: both;
    min-height: 18px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

#pagetree li ul {
    margin-top: 10px;
}

.flex-cls-tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-cls-tr td {
    padding: 0;
    border: none;
}

.ui-sortable .child_li {
    border: none !important;
}

.menu_item_options .fa-wrench {
    color: darkblue;
}

.menu_item_options .fa-trash-alt {
    color: darkred;
}

.page_item_name {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.page_item_name .fa-minus-square,
.page_item_name .fa-plus-square {
    color: #F88379;
    padding: 0 5px 0 15px;
    font-size: 20px;
    cursor: pointer;
}

.page_item_name a,
.page_item_name a:hover {
    color: inherit;
    text-decoration: none;
}

.name-left-padd {
    padding-left: 15px !important;
}

.ui-sortable-menu {
    display: none;
}

.page_item_name a span {
    padding-left: 30px;
    font-weight: bolder;
}

.merlinCats {
    color: lightgray;
}

.menu-items-expand,
.menu-items-expand:hover {
    text-transform: capitalize;
    background: #248f48;
    color: #fff;
    font-weight: bolder;
}

.menu-items-expand:focus {
    box-shadow: none;
}