/* test css */
#breadcrumb-sec
{
     padding-top: 100px!important;

}

.post-author-date {
   display:flex;
}
.breadcrumb
{
 background-color: none;  
}

#breadcrumb-section
{
    padding-top: 150px;
}

.display-3 {
    font-size: 3.0rem!important;
}

.post-social-icon
{   padding-top: 50px;
    padding-left: 0px;
}

.post-social-icon li {
    display:inline-block;
    padding: 0px 10px 5px 10px;
    margin: 0;
    font-size: 20px;
    border-radius: 50px;
    background: #2abfb7;
}