@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */


/* Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900 */

@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

/* font-family: 'Arapey', serif; */


/* Regular 400 */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    overflow-x: hidden;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.btn {
    padding: 10px 30px;
    border-radius: 170px;
}

.btn-primary {
    background: #fa4a70;
    border-color: #fa4a70;
}

#header {
    background: #fa4a70;
    color: white;
}

#header a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.header-menu-col {
    justify-content: flex-end;
}

#header ul {
    margin: 0px;
}

.site-main-menu {
    border-right: solid 1px #ff6a90;
    padding-right: 50px;
}

.site-menu a {
    display: block;
    padding: 25px 0;
}

.header-logo-col {
    align-items: center;
    display: flex;
}

.site-main-menu>li {
    margin: 0 0 0 35px;
}

.user-menu li:first-child {
    border-right: solid 1px #ff6a90;
}

.user-menu li {
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.user-menu {
    align-items: center;
    margin-left: 35px !important;
}

.user-menu li img {
    margin-right: 3px;
}

.user-menu li:last-child {
    padding-right: 0px;
}

#page-banner img {
    width: 100%;
}

.banner-container {
    position: relative;
}

.banner-container .banner-search-col {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;
}

.banner-search-col a {
    color: white;
}

.search-header .head {
    font-size: 80px;
    font-family: 'Arapey', serif;
    font-weight: 400;
    line-height: normal;
}

.search-header .text {
    font-size: 40px;
    font-family: 'Arapey', serif;
    font-weight: 400;
}

.search-header p {
    margin: 0;
}

.search-form-col {
    margin: 30px 0 0 0;
}

.search-form-col .form-control {
    width: 380px;
    border-radius: 0px;
    font-size: 15px;
    padding: 0 20px;
}

.search-form-col li {
    vertical-align: middle;
    margin: 0 -3px !important;
}

.search-form-col .form-control,
.search-form-col .btn {
    height: 55px;
}

.search-form-col .btn {
    font-size: 20px;
    padding: 0 35px;
    border-radius: 0;
}

.search-form-col .form-list {
    display: table;
    width: auto;
    margin: auto;
    border-radius: 80px;
    overflow: hidden;
}

.search-form-col .form-list ul {
    margin-bottom: 0px;
}

.search-links {
    margin-top: 15px;
}

.search-links li {
    border-right: solid 1px;
    height: 15px;
    line-height: 13px;
    margin: 0 !important;
    padding: 0 8px 0 3px !important;
}

.search-links li:first-child,
.search-links li:last-child {
    border: none;
}

#about-us {
    background: #f4f4f4;
    padding: 75px 0;
}

.common-heading .shadow-text {
    font-size: 120px;
    color: #e5e5e5;
    font-style: italic;
    line-height: 90px;
}

.common-heading {
    font-family: 'Arapey', serif;
    font-weight: 400;
}

.common-heading .head {
    font-size: 50px;
    margin: -60px 0 0 0;
}

#footer {
    padding: 65px 0 0;
    background: #f4f4f4;
    margin-top: 60px;
    font-size: 16px;
}

.footer-head {
    font-size: 40px;
    font-family: 'Arapey', serif;
    font-weight: 400;
    line-height: normal;
}

.footer-col {
    padding-bottom: 30px;
    border-bottom: solid 1px #e0e0e0;
    margin-bottom: 30px;
}

.footer-col:first-child {
    border: none;
    padding-bottom: 0px;
}

.footer-text-col .footer-text {
    color: #626262;
}

.footer-text-col .footer-bold {
    font-size: 20px;
    font-weight: 600;
    color: #626262;
}

.footer-small-text {
    font-size: 14px;
}

.footer-color-list a {
    color: #fa4a70;
}

.footer-color-list>li {
    border-right: solid 1px #fa4a70;
    height: 15px;
    line-height: 15px;
    margin: 0 0 7px 0 !important;
    padding: 0 10px;
}

.footer-color-list>li:last-child {
    border: none;
}

.strong {
    font-weight: 500;
}

strong {
    font-weight: 600;
}

.footer-color-list {
    margin: 0 0 10px -10px;
}

.footer-list-col {
    margin-bottom: 30px;
}

.footer-list-col:last-child {
    margin: 0;
}

.footer-contact-list a {
    display: table;
    border: solid 1px #fa4a70;
    padding: 10px 70px;
    border-radius: 70px;
    color: #fa4a70;
}

.footer-contact-list a:hover,
.footer-contact-list a.active {
    background: #fa4a70;
    color: white;
}

.footer-contact-list li {
    margin-bottom: 25px;
}

.footer-contact-list {
    margin-bottom: 0px;
}

.newsletter-group input,
.newsletter-group .btn {
    height: 45px;
    border-color: #fa4a70;
}

.newsletter-group {
    border-radius: 80px;
    overflow: hidden;
}

.newsletter-group .btn {
    background: #fa4a70;
    color: white;
    padding: 0 20px;
}

.newsletter-group input {
    background: transparent;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    padding: 0 20px;
}

.common-card .img-col img {
    width: 100%;
}

.common-card .text-col {
    background: white;
    padding: 25px 20px;
}

.common-card {
    border-radius: 5px;
    box-shadow: 0 0 10px #ffcaf0;
    overflow: hidden;
}

#storySlider .owl-stage-outer {
    padding: 25px 0;
}

.common-card .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.common-card .text-col .text {
    font-size: 16px;
}

.common-card .text-col .date {
    font-size: 14px;
    color: gray;
    font-weight: 400;
    margin-bottom: 0px;
}

.common-slider .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 120px;
    width: 120px;
    margin: 0 !important;
    font-size: 0px !important;
}

.common-slider .owl-nav .owl-prev {
    left: -60px;
    background: url('../images/slider-left.png') no-repeat !important;
    background-size: 100% 100% !important;
}

.common-slider .owl-nav .owl-next {
    right: -60px;
    background: url('../images/slider-right.png') no-repeat !important;
    background-size: 100% 100% !important;
}

.container-fluid {
    max-width: 1280px;
}

#page-banner>.container-fluid {
    max-width: 100%;
}

#wedding-stries {
    margin: 40px 0;
}

#blogsSlider,
#vendorsSlider {
    margin-top: 20px;
}

.vendor-card .text {
    color: gray;
    font-weight: 400;
}

.vendor-card .price {
    font-size: 14px;
}

.vendor-card .price span {
    font-size: 20px;
    color: #fa4a70;
    font-weight: 600;
}

#featured-vendors {
    background: url('../images/vbg.jpg') no-repeat;
    padding: 30px 0 70px 0;
}

.light-heading .shadow-text {
    color: #585757;
}

.light-heading .head {
    color: white;
}

#featured-vendors .container-fluid {
    max-width: 80%;
}

#latest-blogs {
    padding: 40px 0 0 0;
}

.single-category-col a {
    color: #333;
}

.single-category-col .head {
    font-weight: 600;
    font-size: 25px;
    margin: 0px;
}

.single-category-col .img-col {
    position: relative;
}

.single-category-col .img-col .text-col {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.single-category-col .img-col img {
    width: 100%;
}

.single-category-col p {
    margin: 0px;
}

#category-section,
#photographers-section,
#latest-reviews {
    margin: 30px 0 50px;
}

.category-main-row {
    margin-top: 30px;
}

.single-category-col {
    margin-bottom: 35px;
}

.btn-secondary {
    color: #fff;
    background-color: white;
    border-color: white;
    color: #fa4a70 !important;
}

.vendor-location-links .btn {
    min-width: 160px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 600;
}

.vendor-location-links {
    margin-top: 30px;
}

.vendor-location-links li {
    margin: 0 10px !important;
}

.dropdown-item {
    color: #fa4a70 !important;
}

.vendor-location-links p {
    font-size: 14px;
}

#page-banner nav {
    position: absolute;
    bottom: 0;
    margin: 0;
}

#page-banner .breadcrumb {
    margin: 0;
    background: top;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

#page-banner .breadcrumb li,
#page-banner .breadcrumb a {
    color: white;
}

#page-banner .breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.vendor-location-links ul {
    margin: 0;
}

.common-heading .text {
    color: #626262;
    font-family: 'Poppins', serif;
    font-weight: 300;
    max-width: 80%;
    margin: 10px auto 0;
    font-size: 14px;
}

.common-heading .text a {
    color: #fa4a70;
}

.vendor-list-row {
    margin-top: 40px;
}

.grey-text {
    color: #626262;
}

.space-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.vendor-card-col .grey-text {
    font-size: 14px;
}

.common-card .space-list li:last-child {
    min-width: 90px;
}

.vendor-rating {
    background: #2ca600;
    color: white;
    font-size: 14px;
    padding: 0 6px;
    border-radius: 2px;
}

.vendor-rating .fa {
    font-size: 9px;
    position: relative;
    top: -2px;
}

.v-center {
    align-items: center;
}

.v-center p {
    margin: 0px;
}

.vendor-card-col ul {
    margin: 0;
}

.vendor-card-col .vendor-card {
    border-top: solid 1px #dfdfdf;
    padding-top: 12px;
}

.vendor-list-row .common-card {
    margin-bottom: 80px;
}

.vendor-list-row+.load-more-col {
    margin-top: -30px;
}

.review-header .img-col {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.single-review {
    font-size: 14px;
    margin: 25px 0px;
}

.single-review p {
    margin: 0;
}

.single-review a {
    color: #fa4a70;
}

.reviews-list-col {
    max-width: 90%;
    margin: 20px auto 0px;
}

.grey-section {
    background: #f4f4f4;
    padding: 50px 0;
}

#text-only-section {
    font-size: 14px;
    color: #626262;
}

.text-header .head {
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.text-header .small-head {
    font-size: 16px;
}

.text-header strong {
    font-weight: 500;
    color: #333;
}

.text-header .text {
    margin: 0 0 25px 0;
}

.text-primary {
    color: #fa4a70 !important;
}

.text-header .small-head {
    font-size: 16px;
    margin: 0 0 5px 0;
}

.mt-section {
    margin-top: 50px;
}

#text-only-section li {
    margin-bottom: 4px;
}

#text-only-section li .text-primary {
    font-weight: 500;
}

#breadcrumb-section .breadcrumb {
    padding: 0;
    background: transparent;
    margin: 30px 0 20px 0;
    font-size: 14px;
}

#breadcrumb-section .breadcrumb li,
#breadcrumb-section .breadcrumb a {
    color: #333;
}

.common-left-heading .head {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.vendor-detail-img-col img {
    width: 100%;
}

.bg-white-custom {
    box-shadow: 0 0 10px #ffcaf0;
    background: white;
    border-radius: 10px;
}

.vendor-detail-text-col .inner-col {
    padding: 15px 20px;
    position: relative;
}

.vendor-detail-text-col .inner-col .grey-text {
    margin: 0;
    font-size: 14px;
}

.vendor-detail-text-col hr {
    margin: 0;
}

.vendor-detail-text-col .title {
    font-size: 35px;
    font-family: 'Arapey', serif;
    margin: 0;
}

.vendor-detail-text-col .price {
    font-size: 30px;
    color: #fa4a70;
    font-weight: 600;
    margin: 0;
}

.vendor-detail-text-col ul {
    margin: 0px;
}

.share-ul li {
    margin-right: 60px !important;
}

.btn-success {
    background-color: #3ad700;
    border-color: #3ad700;
}

.vendor-detail-text-col .actions-ul {
    padding: 15px 0;
}

.vendor-detail-text-col .inner-col .vendor-rating {
    position: absolute;
    right: 10px;
    top: 10px;
}

.vendor-detail-cols .head {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.vendor-detail-cols .list-inline p {
    margin: 0;
}

.vendor-detail-cols {
    font-size: 14px;
}

.vendor-detail-cols .fas.fa-rupee-sign {
    font-size: 10px;
    position: relative;
    top: -2px;
}

.vendor-detail-cols ul {
    margin-bottom: 25px;
}

.vendor-detail-cols .small-head {
    margin: 0 0 5px 0;
}

.detail-review-header .review {
    font-size: 35px;
    font-weight: 500;
    margin: 0;
}

.detail-review-header li {
    margin: 0 !important;
}

.detail-review-body p {
    font-size: 13px;
}

.detail-review-body .rating-list {
    font-size: 10px;
}

.detail-review-body .rating-list li li {
    margin: 0px !important;
}

.detail-review-body ul {
    margin: 0px;
}

.detail-review-body .review-body {
    margin-top: 10px;
}

.single-review .single-review {
    padding-left: 40px;
}

.rate-plugin li {
    font-size: 30px;
    margin-right: 10px !important;
}

.vendor-detail-img-col>.img-col {
    margin-bottom: 40px;
}

.album-header {
    font-size: 25px;
}

.tab-img-menu {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
    position: relative;
}

.tab-img-menu img {
    width: 100%;
    height: 100%;
}

.photo-album-col .nav-tabs .nav-item .nav-link,
.photo-album-col .nav-tabs .nav-link {
    border: none !important;
}

.photo-album-col .nav-tabs .nav-link {
    text-align: center;
    font-size: 14px;
}

.photo-album-col .nav-tabs .nav-link.active {
    color: #333;
    font-weight: 600;
}

.tab-img-menu .active-arrow {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.photo-album-col .nav-tabs .nav-link.active .active-arrow {
    display: flex;
}

.photo-album-col .nav-tabs {
    border-bottom: none;
    margin: 0 0 20px 0;
}

@media(min-width: 1600px) {
    .container-fluid {
        max-width: 1400px;
    }
}