form-control * {
    font-family: 'Signika', sans-serif;
}

.trans {
    margin-top: 83px;
}

.spacer {
    margin-top: 3rem;
}

.nv a {
    color: #333;
}

.container-fluid.mtab.pt-4.pb-4 {
    display: block;
}

.container-fluid.aco {
    display: none;
}

.list-doctor img {
    height: 222px;
    object-fit: cover;
}

.profile .btn a {
    color: #fff;
    text-decoration: none;
}

.card .verify {
    text-align: center;
    margin-top: -17px;
}

.card .verify img {
    width: 33px;
    height: 33px;
    object-fit: contain;
}


.crx img {
    height: 472px;
    object-fit: cover;
    margin-bottom: 16px;
}

.cutome_sele_bg {
    max-width: 306px;
    height: 47px;
    margin: auto;
}

.sr-heading {
    background-image: linear-gradient(36deg, #f7c5a8, #e95110);
    color: #ffff;
    font-size: 25px;
    padding: 14px 24px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 16px;
    height: 200px;
}

.sr-heading .form-control {
    color: #333;
    font-weight: 600;
}


.gender-contact {
    padding-left: 30px;
    font-size: 17px;
    color: #79758a;
}

/*-----------------------------*/

.mobile-respon {
    width: 293px;
    height: 435px;
}


.form-controler {
    border: none;
    background: none;
    border-bottom: 1px solid #79758a;
    Width: 100%;
    padding-left: 30px;
    outline: none;
    color: #79758a;

}


.form-controler1 {
    border: none;
    background: none;
    border-bottom: 1px solid #79758a;
    Width: 100%;
    padding-left: 26px;
    outline: none;
    color: #79758a;
}

.icon {
    position: absolute;
    color: #1877f2;
    top: 5px;
    left: 5px;
}

.icon-sec {
    font-size: 28px !important;
    color: white;
}

.submit-button {
    width: 100%;
    border: none;
    outline: none;
    background: #0e5095;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 8px;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-weight: 500;
}

.icon1 {
    color: #0e5095;
}

.consult_doct {
    color: #2e2e2e;

}


.form-bg {
    background: #ffffff;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}


.form-bg-2 {
    background: #0777ff;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding-top: 8px;
    padding-bottom: 40px;
}

.main-form {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon_space {
    padding-left: 15px;
}

.radioo_icon {
    padding-right: 8px;
    color: #79758a;
    font-size: 12px;
    font-weight: 500;
}

.buttn {
    font-size: 18px;
}

/*--------------------------------*/
.custom-button-design {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.custom-button-design a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
}

.custom-button-design a:before,
.custom-button-design a:after {
    position: absolute;
    content: "Book an Appointment";
    height: 55px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #e9d5d5;
    box-sizing: border-box;
    border-radius: 5px;
}

.custom-button-design a:before {
    color: rgb(255, 255, 255);
    transform: rotateY(0deg) translateZ(25px);
    background: rgb(161, 122, 122);
}

.custom-button-design a:after {
    color: #fff;
    background: #ff5100;
    transform: rotateX(90deg) translateZ(25px);
}

.custom-button-design a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

/*---------------------------------*/

.contact-gender {
    margin-left: 15px;
}

.sr-heading p {
    margin-top: 18px;
    margin-bottom: 17px;
    font-size: 23px;
    color: #333;
    font-weight: 600;
}



.shadow {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    background-color: #fefefe;
    padding: 32px;
    border-radius: 8px;
    margin-top: 25px;
}


.list-doctor {
    height: 300px;
    overflow: hidden;
}


.list-doctor {
    transition: transform .5s ease;
}


.list-doctor:hover {
    transform: scale(1.1);
}


.list-doctor {
    width: 18%;
    float: left;
    margin: 9px 21px 26px 0px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    background-color: #184d47 !important;
    border-radius: 9px;
}

.split {
    clear: both;
}

.list-doctor p {
    text-align: center;
    margin-top: 16px;
    color: #fff;
    font-size: 17px !important;
    margin-bottom: 9px;
}

.trans .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s all;
}

.wrape {
    width: 100%;
    overflow: auto;
    padding: 18px;
    background-color: #184d47;
    border-radius: 17px;
}

.apt.text-center {
    font-size: 2.5rem;
}

.anc {
    margin-bottom: 10px;
}


.pro-list ul li {
    font-size: 19px;
    margin-bottom: 14px;
}

.before a:hover {
    opacity: 0.5;
    transition: 0.5s all;
    text-decoration: none;
}

.trans h2 {
    font-size: 45px;
}

.rewq h4 {
    color: #1877f2;
}

.rewq {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 14px;
    text-align: center;
    padding: 21px;
}



.xg {
    display: none !important;
}

.res .btn a {
    color: #fff;
}

.res .btn a {
    text-decoration: none;
}

.res .btn {
    background-color: #008000 !important;
    border: none !important;
    padding: 14px 41px !important;
}

.res .btn:hover {
    padding: 14px 38px !important;
    transition: 0.5s all;
}


.dcim {
    width: 30%;
    float: left;
}

.cam img {
    width: 100%;
    height: 415px;
    object-fit: contain;
    margin-top: 13px;
    margin-bottom: 14px;
}

.cam h4 {
    text-align: center;
}

.res {
    background-color: #32ded4;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 20px;
    /*height: 25rem;*/
}

.specification button {
    background-color: #1877f2;
    border: none;
}

.specification1 button {
    background-color: #1877f2;
    border: none;
}


.soc li a:after {
    content: "";
    width: 1px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 17px;
    margin-left: 7px;
}

.dc-p {
    width: 67%;
    float: right;
}

.dcim img {
    width: 100%;
    height: 241px !important;
    object-fit: cover;
}

.dc-p p {
    font-size: 19px !important;
    margin-top: 20px;
    color: #fff !important;
}


.identity select {
    max-width: 428px !important;
    margin: auto;
    height: 40px;
    font-size: 15px;
}

.identity p {
    text-align: center;
    font-size: 27px;
    margin-top: 14px;
    margin-bottom: 20px;
}


.loc ul {
    list-style: none;
}

.banner a {
    color: inherit !important;
    text-decoration: none !important;
}


.bg {

    background-image: url(img/hthair.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.special-anchor h3 i {
    margin-left: -21px;
}

.pills {

    background-image: url(img/pills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;

}

.transplan {
    background-image: url(img/hair-surgeon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*.location {
    background-image: url(img/location.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

.social ul li a {
    padding: 12px 8px;
    font-size: 20px;
    color: #e95110;
}

.social ul li {
    display: inline-block;
    background-color: #fff;
    border-radius: 28px;
    height: 32px;
    width: 34px;
}

.social ul li:hover {
    position: relative;
    bottom: 2px;
}



footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    line-height: 34px;
}

footer {
    padding: 47px;
    color: #fff;
    margin-top: 17px;
}

footer ul {
    list-style: none;
    margin-top: 27px;
}

.small-footer a {
    padding: 5px 7px;
}

.content ul li a {
    color: #333;
}

.content ul li {
    font-size: 20px;
    line-height: 38px;
}

.content ul {
    list-style: none;
}

.content h4 {
    font-size: 26px;
}

.special-anchor a {
    color: #fff;
}

.cities a {
    color: #fff;
}

.header-space {
    padding-top: 135px;
}




/*////////////pop up image////////////////*/



.pop img {
    width: 346px;
    height: 218px;
    object-fit: cover;
    margin: auto;
    display: block;
}


.spec {
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.spec:hover {
    position: relative;
    top: -9px;
    transition: 0.9s all !important;
}

.pop p {
    background-color: #1877f2;
    color: #fff;
    text-align: center;
    padding: 7px;

}


.lb-loader,
.lightbox {
    text-align: center;
    line-height: 0;
    position: absolute;
    left: 0
}

body.lb-disable-scrolling {
    overflow: hidden
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    filter: alpha(Opacity=80);
    opacity: .8;
    display: none
}

.lightbox {
    width: 100%;
    z-index: 10000;
    font-weight: 400;
    outline: 0
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid #fff
}

.lightbox a img {
    border: none
}

.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both
}

.lb-loader {
    top: 43%;
    height: 25%;
    width: 100%
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(img/loading.gif) no-repeat
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.lb-container>.nav {
    left: 0
}

.lb-nav a {
    outline: 0;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}

.lb-next,
.lb-prev {
    height: 100%;
    cursor: pointer;
    display: block
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(img/prev.png) left 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}

.lb-nav a.lb-prev:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(img/next.png) right 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}

.lb-nav a.lb-next:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 999;
    position: relative;
    bottom: 447px;
}

.lb-image {
    width: 320px !important;
    height: 246px !important;
    padding-top: 46px !important;
    object-fit: cover !important;
}


.lb-dataContainer img {
    width: 147px;
    height: 35px;
    object-fit: cover;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both
}

.lb-data {
    padding: 0 4px;
    color: #ccc
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 1em
}

.lb-data .lb-caption a {
    color: #4ae
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(img/close.png) top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-outerContainer {

    width: 100% !important;
    height: 450px !important;
}

img.lb-image {
    margin: auto;
}

.lb-container img {
    width: 62% !important;
    height: 450px !important;
    object-fit: cover !important;
}


/*//pop up image end///////////////*/






.special-anchor h3 {
    background-color: #e95110;
    font-size: 19px;
    padding: 29px 39px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px 2px;
    height: 93px;
}

.pro-list {
    background: #32ded4;
    padding: 27px;
    margin-top: 20px;
}


.tbuv img {
    height: 273px;
    object-fit: cover;
    width: 376px;
}

.pro-list h3 {
    float: none;
    width: auto;

    background: #32ded4;
    padding: 10px 20px;
    line-height: 35px;
    font-size: 24px;
    color: #fff;
    border-left: 5px solid#ccc;
    margin: 20px auto;
    display: inline-block;
    text-transform: uppercase;

}

.pros {
    text-align: left;
    background: #32ded4;
    padding: 10px 20px;
    line-height: 35px;
    font-size: 24px;
    color: #fff;
    border-left: 5px solid#ccc;
    margin: 20px auto;
    display: inline-block;
    text-transform: uppercase;

}

.border {
    border: 1px solid #ccc !important;
    margin-top: 1px;
    margin-bottom: 10px;
}

.cont input {
    margin-bottom: 10px;
    height: 54px;
    border-radius: 3px;
}

.cont button.btn.btn-danger {
    padding: 9px 50px;
    margin-top: 9px;
    margin-bottom: 10px;
}


.kpborder {
    border: 1px dotted #ccc !important;
    margin-top: 1px;
    margin-bottom: 10px;
}

.proc {
    margin-bottom: 1px;
    font-size: 21px;
    margin-top: 13px;
}

small {
    color: red
}

.small-heading {
    font-size: 20px;
    color: #e95110;
    width: fit-content;
}


.profile {
    margin-top: 13px;
}

p {
    font-size: 19px;
}

.identity {
    background-color: #1877F2;
    color: #fff;
    font-size: 23px;
    padding: 9px 15px 9px 15px;
    box-shadow: -4px 0px 0px #ccc;
    text-transform: uppercase;
}




ul.nav.nav-tabs {
    padding: 0px 0px !important;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}


.before img {
    width: 100%;
    height: 178px;
    object-fit: cover;
}

.tabo img {
    width: 224px !important;
    height: 120px;
    object-fit: contain;
}

.tabo {
    border: 1px solid #ccc;
}


.before h4 a {
    color: #fff;
}

.before h4 {
    text-align: center;
    font-size: 19px;
    background-color: #32ded4;
    color: #fff;
    padding: 19px;
}



.nav-tabs {
    border: none !important;
}

.active {
    color: #fff !important;

}

.mtab a.nav-link.ancr.active {
    background-color: #000 !important;
}


.mtab .nav-link.ancr {
    background-color: #e95110;
    color: #fff;
    padding: 13px 45px;
    margin: 1px;
    font-size: 19px;
}

.card:hover {
    box-shadow: 1px -1px 6px #ccc;
    transition: 0.3s all;
}

.card-body button {
    font-size: 14px;
    background-color: #0069d9;
    border: none;
    outline: none;
    font-weight: 600;
}

.heading {
    background-color: #0069d9;
    color: #fff;
    padding: 10px 89px;
    margin-bottom: 20px;
}

.hovereffect img {
    padding: 4px;
    box-shadow: 4px 2px 4px #ccc;
    border: 2px solid #ccc;
}

.card-body .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.card-body button {
    font-size: 14px;
}

.card-body ul li {
    color: #333;
    line-height: 23px;
}


.anc a {
    text-decoration: none !important;
}


.card img {
    object-fit: cover;
    padding: 15px;
}

.card-body ul {
    list-style: none;
}

.img-responsive {
    height: 233px;
    object-fit: cover;
    cursor: pointer;
}

.w-im img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid #fff;
    padding: 4px;
    text-align: center;
    margin: auto;
    display: block;
}

.ico h6 {
    font-size: 22px;
}

.ico .fa {
    font-size: 52px;
    margin-bottom: 13px;
    color: #1877f2;
}

.ico:hover {
    box-shadow: 1px 0px 5px;
    transition: 0.3s all;
}

.ico {
    text-align: center;
    box-shadow: 0px 0px 3px;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 3px;
}

.tab-pane ul {
    list-style: disc !important;
    color: #333;
}


.frm select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-color: #ced4da;
}


.tab-pane ul li a {
    color: #333;
    font-size: 17px;
}

.llisting ul li {
    display: inline-block;
    margin: 10px;
}

.llisting ul li a {
    background-color: #1877f2;
    padding: 10px 35px;
    border-radius: 3px;
}

.llisting ul {
    list-style: none;
}


.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #000 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    color: #fff;
}




.bald ul li img {
    width: 81px;
    height: 101px;
    object-fit: contain;
}

.bald ul li {
    display: inline-block;
}

.bald ul {
    list-style: none;
}

.outer {
    padding: 0px !important;
}

.frm h3 {
    text-align: center;
    background-color: #1877f2;
    color: #fff;
    padding: 11px;
    font-size: 24px;
}

.frm form {
    padding: 6px;
    margin-top: 18px;
}

.frm {
    box-shadow: 1px 2px 9px;
}

.frm button {
    width: 100%;
    background-color: #1877f2;
    border: none;
    padding: 15px;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}



.cities h3 {
    background-color: #1daa9f;
    font-size: 17px;
    padding: 25px 39px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px 2px;
    height: 69px;
}

.special-anchor:hover {
    box-shadow: -3px 4px 5px #333;
    border: none;
    outline: none;
    transition: 0.3s all;
}

.cities:hover {
    box-shadow: -3px 4px 5px #333;
    border: none;
    outline: none;
    transition: 0.3s all;
}

.special-anchor a:hover {
    color: #fff;
    text-decoration: none;
}

.cities a:hover {
    color: #fff;
    text-decoration: none;
}

.hovereffect img {
    margin-bottom: 15px;
}



.box {
    width: 342px;
    margin: auto;
    background-color: #fff;
}

.ancr a {
    background-color: #e95211;
    color: #fff;
    padding: 9px 31px;
    border-radius: 2px;
}

.split {
    clear: both;
}

.specification .title {
    padding: 4px
}

.specification {
    padding: 39px;
    background-color: #fff;
    margin-top: 29px;
    height: 305px;
    margin-bottom: 33px;
    box-shadow: 5px 3px 0px 3px #f7c5a8, -5px -3px 0px 3px #f7c5a8;
    border-radius: 10px;
}

.kl {
    font-size: 15px !important;
}

.ancr {
    text-align: center;
    padding-bottom: 32px;
    margin-top: 34px;
}


.box p {
    padding: 20px;
    font-size: 18px;
    line-height: 34px;
}

footer h2:after {
    content: "";
    width: 125px;
    height: 2px;
    position: absolute;
    top: 46px;
    background-color: #fff;
    left: 22px;
    border-right: 90px solid #37c3bc;
}

footer ul li a:hover {
    opacity: 0.9 !important;
    color: #fff;
    text-decoration: none;
}


.box h5 {
    background-color: #323a45;
    padding: 16px;
    text-align: center;
    color: #fff;
}


.loc ul li {
    border-bottom: 1px dotted;
}

.loc ul li a {
    color: #333;
}

.loc ul li a:hover {
    text-decoration: none;
    color: #32ded4;
    transition: 0.3s all;
}


.small-footer a {
    color: #fff;
}



.small-footer a:hover {
    opacity: 0.9 !important;
    color: #fff;
    text-decoration: none;

}

.small-footer {
    padding-top: 9px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


footer img {
    width: 100%;
    height: 49px;
    object-fit: cover;
    background-color: #fff;
    padding: 3px;
}

.cit h1 {
    color: #fff;
    font-size: 38px;
    padding-top: 11px;
    padding-bottom: 11px;
}



.cit p {
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cit {
    background-color: #1877F2;
}

.links ul li {
    display: inline-block;
}

.links ul li a {
    font-size: 31px;
    padding: 0px 3px;
}

.nv {
    background-color: #f8f8f8;
    /* height: 78px; */
    width: 100%;
    position: fixed !important;
    z-index: 999;
    margin-top: 56px;
}

.kc {
    position: fixed !important;
    z-index: 999 !important;
    width: 100%;
}


/*a.navbar-brand img {
    width: 112px;
    height: 95px;
    object-fit: contain;
}
*/

.carousel-inner {
    overflow: inherit !important;
}


.certificate img {
    width: 173px;
    height: 109px;
    object-fit: contain;
}

.caro {
    background-color: #000;
}

.calls h3 {
    font-size: 33px;
}

.calls p {
    font-size: 16px;
}

.calls {
    color: #fff;
}

.call {
    margin-top: 32px;
}

.call a {
    color: #fff;
    background-color: #dd4504;
    padding: 18px 44px;
    border-radius: 5px;
}



.banner {
    padding-top: 95px;
}

.carousel {
    margin-top: 50px;
}

.carousel-inner {
    height: 100px;
}

.carousel-caption {
    color: #fff;
    top: 50%;
}

.carousel-indicators {
    display: none !important;
}


.bto {
    border: 2px solid #000 !important;
    padding: 6px 37px !important;
}

.bs-border {
    border: 1px solid;
    border-left: 8px solid;
    height: 482px;
}

.bs-border p {
    padding: 13px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
}


.title1 {
    font-size: 22px;
    font-weight: 600;

}

.star {
    font-size: 17px;
    font-weight: 400;
}

.gal {
    text-align: center;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 30px;
}

.gal a {
    background-color: #e95110;
    color: #fff;
    padding: 16px 41px;
    font-size: 17px;
    border-radius: 5px;
    text-decoration: none;
}


.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    background: #79FAC4;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
    color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    visibility: visible;
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.aco {
    display: none;
}

@media screen and (max-width:800px) {
    #navbarSupportedContent {
        background-color: #eee;
        margin-top: 0;
    }

    .list-doctor {
        width: 49%;
        margin: 3px;
    }

    .card {
        margin-bottom: 10px;
    }

    .nv {
        margin-top: 47px;
    }

    .pop img {
        width: 330px;
    }

    .tbuv img {
        margin-bottom: 21px;
        width: 100%;
    }

    .bar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0px;
        right: 0px;
        z-index: 9;
        background-color: #f4d8cd;

    }

    .bar a {
        background-color: #1877f2;
        margin: 5px;
        padding: 8px 11px;
        font-size: 14px;
        color: #fff;
        width: 100%;
        text-align: center;
    }

    .res .btn {
        margin-bottom: 14px;
    }

    .mtab .nav-link.ancr {
        padding: 13px 7px;
    }

    .ico {
        height: auto;
    }

    .nv ul li {
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 1px solid darkgray;
        padding: 5px 0 5px 0;
    }

    .desk {
        display: none !important;
    }

    .xg {
        display: block !important;
    }



    .kc ul {
        display: -webkit-inline-box;
    }

    .kc ul li {
        padding: 2px 8px;
    }

    .mtab .nav-link.ancr {
        font-size: 15px;
    }

    footer img {
        width: 57%;
        height: auto;
    }

    .tabo .small-heading {
        margin: auto;
        font-size: 26px;
        font-weight: 600;
    }


    .tabo img {
        display: block;
        margin: auto;
    }

    .mtab .nav-link.ancr {
        /*padding: 13px 9px;*/
        width: 100%;
        margin: 2px;
    }

    .trans {

        margin-bottom: 37px;
    }

    .pb-2 {
        text-align: center;
    }

    .kc .btn {
        margin-top: 5px;
    }


    .call {
        padding-bottom: 17px;
    }

    .title {
        font-size: 27px;
    }

    footer h2 {
        text-align: inherit;
    }


}


@media screen and (max-width:414px) {
    .trans h1 {
        font-size: 26px;
    }

    .list-doctor {
        width: 100%;
    }

    .apt.text-center {
        font-size: 31px;
    }

    .aco .card {
        border: none;
        margin-left: -43px;
    }

    .trans h2 {
        font-size: 39px;
    }


    .specification button a {
        font-size: 18px;
    }

    .lb-container img {
        width: 100% !important;
    }

    .pop img {

        display: block;
        margin: auto;
    }

    .bar a {
        background-color: #1877f2;
        margin: 5px;
        padding: 8px 11px;
        font-size: 14px;
        color: #fff;
        width: 100%;
        text-align: center;
    }

    .nv {
        margin-top: 46px;
    }


    .dcim {
        width: 100%;
        float: none;
    }

    .dc-p {
        width: 100%;
        float: none;
    }

    .res {
        padding: 7px;
    }

    .card {
        background-color: transparent !important;
    }

    .card-header {
        padding: 0.25rem 1.25rem !important;
    }

}

@media only screen and (max-width:414px) {


    .card-body {
        margin-left: 55px;
    }

    .wrape h4 {
        text-align: center;
        margin-top: 10px;
    }

    .wrape {
        padding: 10px;
    }

    .dc-p p {
        font-size: 18px !important;
    }

    /*.container p{text-align:justify;}*/
    footer h2 {
        font-size: 25px;
    }

    .identity p {
        font-size: 22px;
    }

    .identity {
        font-size: 19px;
    }

    p {
        font-size: 18px;
    }

    .cit p {
        font-size: 21px;
    }

    .molb ul li a {
        max-width: 124px;
        margin: 0px -24px;
    }


    .mtab {
        display: none;
    }

    .aco {
        display: block;
    }

    .trans button {
        margin-bottom: 10px;
        width: 100%;
        padding: 12px;
    }

    #accordion .card-body {
        border: 5px solid #1877f2;
        border-radius: 6px;
    }

    .card-header {
        background-color: #1877f2 !important
    }

    /*.card-body ul li a {
    color: #333;
    font-size: 14px;
}
*/

    .card-header h2 {
        color: #fff;
        display: flex;
        align-items: center;
    }

    .blue-butt {
        text-decoration: none;
    }


    .specification {
        height: auto;
        padding: 28px;
    }


    .specification h3 {
        font-size: 17px;
    }

    .box {
        width: 100%;
    }

    .box h5 {
        padding: 9px;
        font-size: 18px;
    }


    .box p {
        padding: 16px;
    }

    .title {
        font-size: 22px;
    }

    .card-body {
        margin-top: 0px;
    }
}

@media screen and (max-width:375px) {

    .mob ul li a {
        max-width: 123px;
        margin: 0px -27px;
    }


    .apt.text-center {
        font-size: 30px;
    }


    .identity {
        font-size: 18px;
        padding: 7px;
    }

    .trans h2 {
        font-size: 34px;
    }

    .pro-list h3 {
        padding: 4px 12px;
        font-size: 22px;
    }

    .bar a,
    .bar a:hover {
        padding: 10px 5px;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
    }

    .nv {
        margin-top: 50px;
    }

    .gal a {
        padding: 12px 6px;
        font-size: 17px;
        border-radius: 3px;
    }


    .ancr a {
        padding: 14px 22px;
    }

}

@media only screen and (max-width:768px) {

    .title1 {
        font-size: 20px;
    }

    .mobile-respon {
        width: 332px;
        height: 480px;
        margin-left: 13px;
    }

    .clac-100-cls {
        width: calc(100% + 55px) !important;
    }

    .sidebar-form {
        z-index: 111 !important;
    }

    .margin-bottom-5 {
        margin-bottom: 8px !important;
    }

    .container-fluid.mtab.pt-4.pb-4 {
        display: none;
    }

    .container-fluid.aco {
        display: block;
    }

    .card-header h2 {
        justify-content: center;
        margin: 0;
    }

    .aco .card {
        margin-left: 0;
    }

    .card-body {
        margin-left: 0;
    }

    .navbar-toggler-icon {
        height: auto !important;
        width: auto !important;
    }

    .small-footer {
        display: block;
    }

    #accordion .card p {
        margin-bottom: 0;
    }

    #accordion .btn-link:hover {
        color: #fff;
        text-decoration: none;
    }

    .card ul {
        margin-left: 0;
    }

    .doc-img-div,
    .doc-star-rating,
    .star-rating-count {
        display: flex;
        justify-content: center;
        width: auto !important;
    }

    .doc-details-sec {
        text-align: center;
    }

    .top-head-padd-null {
        padding: 0px 15px 0px 15px !important;
    }

    .doc-star-rating ul {
        padding: 0px;
    }

    footer>.container {
        text-align: center;
    }

    footer h2::after {
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    footer .container ul {
        padding-left: 0;
    }

    footer .container .row ul li a img {
        display: initial;
    }

    .floatt-left {
        text-align: center !important;
    }

    .floatt-right {
        text-align: center !important;
    }

    .mob-padd-null {
        padding: 0 !important;
    }

    .detail-review-body .review-header .rev-flex-cls ul {
        padding: 0;
    }

    .reply-review-cls {
        padding: 10px 0 10px 25px !important;
    }

    .doc-img-cls {
        width: 200px !important;
        display: block !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .mob-text-center-cls {
        text-align: center;
    }

    .container-fluid.mtab.pt-4.pb-4 .container {
        padding: 0;
    }

    .admin-reply .reply-review-cls ul {
        padding-left: 0;
    }

    .before-after-cls .container-fluid.mtab.pt-4.pb-4 {
        display: block;
    }

    .before h4 {
        padding: 12px;
    }

    .cities h3 {
        height: auto;
        padding: 12px 26px;
    }

    .ico h6 {
        font-size: 18px;
    }

    .mob-home-btn-cls {
        text-align: center;
    }

    .mob-home-btn-cls .col-md-5.pb-5 {
        padding-top: 15px;
    }

    .dropdown-menu {
        font-size: 13px !important;
        border: none !important;
        background-color: transparent !important;
    }

    .navbar-toggler:focus,
    .navbar-toggler:hover {
        outline: none;
    }

}


@media screen and (min-device-width: 414px) and (max-device-width: 768px) {
    .card-body {
        margin-left: 125px;
    }

    .card-body .card-title {
        padding-right: 120px;
    }

    .card-body ul {
        margin-left: -30px;
    }

    .floatt-left {
        text-align: center !important;
    }

    .floatt-right {
        text-align: center !important;
    }

}


@media screen and (max-width:360px) {
    .ancr a {
        padding: 14px 19px;
    }

    .trans h2 {
        font-size: 33px;
    }

    .specification {
        padding: 18px;
    }

    .pop img {
        width: 300px;
    }

    .content ul li {
        font-size: 17px;
    }

    .nv {
        margin-top: 49px;
    }

    .bar a {
        padding: 10px 4px;
        font-size: 13px;
    }

    .mob ul li a {
        margin: 0px -26px;
    }

}


@media screen and (max-width:320px) {
    .gal a {
        padding: 12px 4px;
        font-size: 14px;
    }

    .content ul li {
        font-size: 14px;
        font-weight: 600;
    }

    .content a {
        font-size: 14px;
        font-weight: 600;
    }

    .bar a {
        font-size: 11px;
    }

    .trans h2 {
        font-size: 28px;
    }

    .ico h6 {
        font-size: 19px;
    }


    .pop img {
        width: 258px;
    }

    .nv {
        margin-top: 46px;
    }

    .res .btn {
        padding: 14px 21px !important;
    }

    footer h2 {
        font-size: 22px
    }

    .cities h3 {
        margin-bottom: 20px;
        height: 57px;
    }


    .mob ul li a {
        max-width: 99px;
        margin: 0px -22px;
        font-size: 14px;
    }

    .specification button a {
        font-size: 14px;
    }

    footer ul {
        margin-left: 0px
    }

    .calls h3 {
        font-size: 30px;
    }

}

/*popup*/
.thank-you-pop {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.thank-you-pop img {
    width: 76px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

.thank-you-pop h1 {
    font-size: 42px;
    margin-bottom: 25px;
    color: #5C5C5C;
}

.thank-you-pop p {
    font-size: 20px;
    color: #5C5C5C;
    margin-bottom: 0;
}

.thank-you-pop h3.cupon-pop {
    font-size: 25px;
    margin-bottom: 40px;
    color: #222;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 2px dashed #222;
    clear: both;
    font-weight: normal;
}

.thank-you-pop h3.cupon-pop span {
    color: #03A9F4;
}

.thank-you-pop a {
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}

.thank-you-pop a i {
    margin-right: 5px;
    color: #fff;
}

#popup .modal-header {
    border: 0px;
}

/*popup*/

/*--------------------------------------------------------------------*/


.main-form-contact {
    padding-bottom: 0px;
}

.doc-consult-contact {
    font-weight: 14px;
    font-weight: 600;
}

.form-group-contact {
    margin-bottom: 5px;
}

.form-controler-contact {
    border: none;
    background: none;
    border-bottom: 1px solid #79758a;
    Width: 100%;
    padding-left: 30px;
    outline: none;
    color: #79758a;
    font-size: 15px;

}

.icon-contact {
    position: absolute;
    color: #1877f2;
    top: 5px;
    left: 5px;
    font-size: 13px;

}

.icon1 {
    font-size: 13px;
}

.form-controler-contact1 {
    border: none;
    background: none;
    border-bottom: 1px solid #79758a;
    Width: 100%;
    padding-left: 26px;
    outline: none;
    color: #79758a;
    font-size: 15px;

}

.small-form-contact {
    padding-left: 29px;
    font-size: 15px;
    color: #79758a;
}

.submit-button-contact {
    width: 100%;
    border: none;
    outline: none;
    background: #0e5095;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 8px;
    color: white;
    padding: 8px 28px;
    cursor: pointer;
    text-align: center;
    outline: none;
    font-size: 17px;
    font-weight: 500;
}


.img-optnd {
    width: 165px;
    height: 200px;
    margin: auto;
    display: block;
    box-shadow: rgb(0 26 23) 0px 1px 4px;
}

.radioo_icon-contact {
    padding-right: 8px;
    color: #79758a;
    font-size: 12px;
    font-weight: 500;
}

.book-an {
    background: #0e5095;
    font-size: 20px;
    color: #ffffff;
    padding: 15px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 8px;
    text-align: center;
    font-weight: bolder;
}

.mob-form {
    box-shadow: none;
    background: none;
    padding: 10px 20px 10px 20px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin-top: -8px;
}

.page-contact {
    display: flex;
    background: #259892;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 5px;
}

.page-contact img {
    width: 90px;
    height: 124px;
}

.contact-p {
    font-size: 16px;
    font-weight: 600;
    padding: 2px 9px;
    border-radius: 4px;
}

.contact-p1 {
    font-size: 13px;
    line-height: 0px;
}


.mob-contact-profile {
    background: white;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 9px;
    border-radius: 4px;
}


.clac-100-cls {
    width: calc(100% + 80px);
}

.bold-cls {
    font-weight: bold;
}

.font-weight-cls {
    font-weight: 600;
}

.padd-null {
    padding: 0 !important;
}

.color-inherit {
    color: inherit;
}

.color-inherit:hover {
    color: inherit;
    text-decoration: none;
}

.btn-btn {
    padding: 12px 0px;
    width: 100%;
    border: none !important;
    outline: none !important;
    border-radius: 4px;
    background-color: #24c5a1;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
}


.pt-3,
.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.citi-locat {
    text-align: start;
}


.floatt-left {
    color: #fff;
    font-size: 14px;
    text-align: left;
}

.floatt-right {
    font-size: 14px;
    color: #fff;
    text-align: right;
}


.footer-list li {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.thank-you-pop .thank-you-head {
    font-size: 42px;
    margin-bottom: 25px;
    color: #5C5C5C;
}

.cs-bg-color {
    background: #1877F2;
}

.height-100vh {
    height: 100vh;
}

.position-relative {
    position: relative;
}

.position-relative .margin-register,
.position-relative .auth-inner-form-col.margin-login {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
}

.password-container .displayPassword {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.mat-group {
    position: relative;
    margin-bottom: 30px;
}

.mat-group label {
    position: absolute;
    top: -13px;
    left: 16px;
    display: table;
    width: auto;
    background: white;
    padding: 0 5px;
    font-size: 16px;
    color: #818181;
    z-index: 1;
    font-weight: 500;
}

.mat-group .form-control {
    border-color: #818181;
    border-radius: 8px;
    min-height: 55px;
    padding: 0 20px;
}

.list-top-group {
    margin-top: -20px;
    position: relative;
    z-index: 1;
}

.mat-group {
    position: relative;
    margin-bottom: 30px;
}

.space-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.mat-group .space-list li {
    margin: 0 !important;
}

.custom-control {
    padding-left: 21px;
    position: relative;
    display: block;
    min-height: 1.5rem;
}

.mat-group .custom-control-input {
    z-index: 1;
    cursor: pointer;
}

.custom-checkbox .custom-control-input~.custom-control-label {
    cursor: pointer;
    font-size: 0.875rem;
    height: 1rem;
}

.custom-control-label {
    position: static !important;
    font-weight: 300 !important;
}

.custom-control-label span {
    position: relative;
    top: 2px;
}

.text-muted {
    color: #93a5be !important;
}

.custom-checkbox .custom-control-label::before {
    border: solid 1px;
    border-radius: 4px;
}

.custom-control-alternative .custom-control-label::before {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.custom-control-label::before {
    left: 0;
}


.menu-menu-col {
    height: 100%;
    background: #f0f0f0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled {
    list-style: none;
}

.menu-menu-col a:hover,
.menu-menu-col a.active {
    background-color: #1877F2;
    color: white;
    text-decoration: none;
}


.menu-menu-col a {
    display: block;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    border-bottom: solid 1px #dcdcdc;
    transition: 0.2s;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.menu-menu-col a i,
.menu-menu-col a svg {
    width: 22px;
}

.fa,
.fas {
    font-weight: 900;
}

.card.margin-404:hover,
.card.margin-404 {
    border: none;
    box-shadow: none;
}

.card.margin-404 button {
    color: #fff;
}

.preloader {
    background: #f8f8f8 !important;
}

.preloader {
    display: flex;
    align-items: center;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity .2s linear;
    width: 100%;
    z-index: 9999;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.flex-column {
    flex-direction: column !important;
}

.preloader .loader-element {
    position: relative;
}

.preloader .loader-element .loader-animated-dot {
    display: block;
    width: 9px;
    height: 9px;
    background: #f8f8f8;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 1px;
    animation: bounce 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.doc-flex-cls {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}


.doc-name a,
.doc-name a:hover {
    color: #333132;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.doc-designation {
    font-size: 12px;
}

.doc-tagline {
    font-size: 12px;
}

.doc-city a,
.doc-city a:hover {
    font-size: 12px;
    color: inherit;
    text-decoration: none;
}

/* vvv */
.doc-star-rating-profile {
    background: #1877F2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.doc-star-rating-profile .space-list {
    justify-content: center;
    margin: 0;
}

.doc-star-rating-profile ul li ul {
    padding: 5px 0 5px 0;
}

.doc-star-rating-profile ul li ul li i {
    font-size: 18px;
}

/* ddd */

.doc-star-rating ul li ul li {
    margin-right: 2px !important;
    margin-left: 2px;
}

.doc-star-rating .space-list {
    justify-content: center;
    margin: 0;
    width: 100px;
}

.yellow-star {
    color: #FFCD29;
}

.doc-star-rating ul li ul li i {
    font-size: 13px;
}

.doc-img-div img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.item-middle {
    display: flex;
    justify-content: center;
}

.doc-view-btn a,
.doc-view-btn a:hover {
    color: #187aab;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600
}

.surgeons-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.doctors-list-cls {
    padding: 10px !important;
}

.profile-write-review a,
.profile-write-review a:hover {
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    text-decoration: none;
}

.cities-font-size {
    font-size: 13px;
}

.cities_cls a,
.cities_cls a:hover {
    color: #fff;
    text-decoration: none;
}

.doc-details-cities a,
.doc-details-cities a:hover {
    color: inherit;
    text-decoration: none;
}

.margin-null {
    margin: 0;
}

.doc-title {
    font-weight: 600;
}

.save-btn-cls .submit-review {
    width: 100%;
}

.alert.alert-danger.reviewAlert ul {
    margin: 0;
}

.rev-flex-cls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rev-flex-cls ul {
    margin: 0;
}

.review-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.review-body p {
    font-size: 15px;
}

.review-created-at {
    font-size: 15px;
}

.vendor-detail-cols {
    font-size: 14px;
}

.detail-review-body .single-review {
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 #dadada;
    padding: 15px;
}

.single-review {
    font-size: 14px;
    margin: 15px 0px;
    margin: 25px 0px;
}

.space-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.single-review p {
    margin: 0;
}

.detail-review-body .single-review:hover {
    box-shadow: 0 1px 12px 0 #cdcdcd;
}

.rating-list li ul li i {
    font-size: 15px;
}

.morecontent span {
    display: none;
}

.mar-bottom-5 {
    margin-bottom: 5px !important;
}

.reply-review {
    display: flex;
    justify-content: right;
    font-weight: 600;
}

.reply-review-cls {
    padding: 10px 0 10px 40px;
}

.morelink,
.morelink:hover {
    text-decoration: none;
}

.show_reply_popup,
.show_reply_popup:hover {
    text-decoration: none;
}

.review-header .img-col {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.dz-button {
    color: #000 !important;
}

.dropzone {
    min-height: auto !important;
}

.album-flex-cls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropzone-div {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery-img-col {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-action-col,
.gallery-action-col:hover {
    background: #1877F2;
    text-decoration: none;
}

.gallery-action-col a,
.gallery-action-col a:hover {
    color: white;
    display: block;
    width: 100%;
    padding: 5px 0;
    text-decoration: none !important;
}

.gallery-col {
    margin-bottom: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

.gallery {
    position: relative;
    z-index: 2;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.gallery.pop {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.gallery figure {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.gallery figure img {
    width: 100%;
    border-radius: 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.gallery figure figcaption {
    display: none;
}

#imgPreview {
    max-width: 350px;
}

.star-rating-count {
    text-align: center;
    color: #187aab;
    width: 100px;
}

.doctor-box-shadow {
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 #dadada;
    padding: 15px;
}

.doctor-box-shadow:hover {
    box-shadow: 0 1px 12px 0 #cdcdcd;
}

.width-100 {
    width: 100%;
}

.doc-flex-cls .col-lg-4 {
    padding: 10px 10px 20px 10px;
}

.top-head-padd-null {
    padding: 0px;
}

.doc-img-cls {
    width: 100%;
}


/* accodian css */
.accordion-container {
    margin: 0 0 10px;
}

.accordion-toggle {
    position: relative;
    display: block;
    padding: 6px 10px 6px 10px;
    font-size: 18px;
    font-weight: 600;
    background: #999;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-toggle.open,
.accordion-toggle:hover {
    background: #999;
    color: #fff;
    text-decoration: none;
}

.accordion-toggle span.toggle-icon {
    position: absolute;
    top: 9px;
    right: 20px;
    font-size: 1.5em;
}

.accordion-content {
    display: none;
    padding: 20px 0px 20px 0px;
    overflow: auto;
}

.accordion-content p {
    font-size: 16px;
}

/* accodian css */

.doc-mar-cls {
    margin: 0px 0 15px 0;
}

.new-doctor .col-lg-3.col-md-6 {
    margin: 30px 0 0 0;
}

.footer-list span {
    color: #fff;
}

.breadcrumb {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    background-color: #1877F2 !important;
}

.breadcrumb .breadcrumb-item a,
.breadcrumb .breadcrumb-item a:hover {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff !important;
}

.blog-index-cls {
    padding: 30px 0 0 0;
}

.author {
    padding: 0 0 10px 0;
}

.author span {
    font-weight: 600;
}

.post-item-wrap .text-col .text.margin-null {
    font-weight: 400 !important;
}

.blog-intro p {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0 15px 0;
    margin: 0;
}

.desc-top {
    padding: 15px 0 15px 0;
}

.desc-top p {
    font-size: 16px;
    font-weight: 400;
}

.post-social-icon li {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #1877F2;
    position: relative;
}

.post-social-icon li i {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}

.post-social-icon li:first-child {
    background-color: transparent;
}

.post-social-icon li:first-child i {
    color: #000;
}

.maim-more-post {
    box-shadow: 0 1px 4px 2px #dadada;
    padding: 15px;
    margin: 15px 0px 15px 0px;
    border-radius: 10px;
}

.maim-more-post .item-name {
    padding: 18px 0 0 0;
}

.maim-more-post .item-name a,
.maim-more-post .item-name a:hover {
    color: initial;
    text-decoration: none;
}

.card {
    border-radius: 10px !important;
}

.posts-next-prev {
    display: flex;
    justify-content: space-between;
}

#commentForm {
    margin: 25px 0 0px 0;
}

.posts-next-prev a,
.posts-next-prev a:hover {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.posts-next-prev a .post-prev {
    padding-left: 5px;
}

.posts-next-prev a .post-next {
    padding-right: 5px;
}

.color-white {
    color: #fff;
}

/* lEAD FORM CSS */

.sidebar-form {
    position: fixed;
    top: 50%;
    right: -350px;
    width: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 8px 0 0 8px;
    background-color: #fff;
    padding: 10px;
    transform: translateY(-50%);
    transition: right .4s linear;
    z-index: 9999;
}

.sidebar-form.show {
    right: 0;
}

.sidebar-form .call-action {
    position: absolute;
    background-color: #FF0000;
    letter-spacing: 1px;
    color: var(--white);
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    left: -95px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 15px;
    font-weight: 600;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.conatiner-fluid.lngp {
    padding-bottom: 80px;
}

#chatbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* LEAD FORM CSS */


.tab-pane ul li a,
.tab-pane ul li a:hover {
    text-decoration: none;
}

#desktop-header-menu li a.active {
    color: #1877F2 !important;
    font-weight: 600;
}

#desktop-header-menu .dropdown-menu .dropdown-item.active {
    background-color: transparent;
}

.new-doctor a img {
    height: 250px;
}

.dropdown-item {
    padding: 5px 15px 5px 15px !important;
}