/* css here */

@media screen and (min-width:801px) {
    .navbar-nav {
        flex-direction: initial!important;
    }
    .navbar-nav .nav-link {
        padding: 8px!important;
    }
}

@media only screen and (max-width:768px) {
    .surgeons-flex {
        justify-content: space-around!important;
    }
    .new-doctor a img {
        height: auto!important;
    }
    .cities h3 {
        text-align: center;
    }
    .before .col-lg-4 {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 5px;
    }
    .before .col-lg-4:first-child {
        margin-top: 13px;
    }
    .cit p {
        margin-bottom: 0px;
    }
    .cit .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width:575px) {
    .cit .container {
        padding-left: 13px;
        padding-right: 13px;
    }
}

.tabo .col-lg-3 {
    padding-right: 0px;
    top: 58px;
}

.tabo .even {
    background: #e6e2e2;
    padding: 10px 0px;
    margin: 10px 0px;
}

.tabo .odd {
    border: 1px solid #e6e2e2;
    padding: 10px 0px;
    margin: 10px 0px;
}

.even-alp {
    background: #e6e2e2;
    padding: 10px 10px;
}

.odd-alp {
    border: 1px solid #e6e2e2;
    padding: 10px 10px;
}